$orange = #ff612a;
$yellow = #f29f3f;
$bodyWidth = 2560px;
$bodyHeight = 1315px;
$leftWidth = 600px;

bgc(bg = $orange, c = #fff) {
  background: bg;
  color: c;
}
// 背景图片地址和大小
bis(url) {
  background-image: url(url);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
border-radius(radius = 8px) {
  -webkit-border-radius: radius;
  -moz-border-radius: radius;
  -ms-border-radius: radius;
  -o-border-radius: radius;
  border-radius: radius;
}
box-shadow(values) {
  -webkit-box-shadow: values;
  -ms-box-shadow: values;
  -moz-box-shadow: values;
  box-shadow: values;
}
transition(t = .3s) {
  -webkit-transition: t all ease;
  -ms-transition: t all ease;
  -moz-transition: t all ease;
  transition: t all ease;
}
transform(values) {
  -webkit-transform: values;
  -ms-transform: values;
  -moz-transform: values;
  transform: values;
}
//定位全屏
allcover {
  position: absolute;
  top: 0;
  right: 0;
}
//定位上下左右居中
center() {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
//定位上下居中
ct {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
//定位上下居中
cl {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
//宽高
wh(width, height) {
  width: width;
  height: height;
}
//字体大小、行高、字体
font(size, line-height, family = 'Microsoft YaHei') {
  font: size / line-height family;
}
//字体大小，颜色
sc(size, color) {
  font-size: size;
  color: color;
}
//flex 布局和 子元素 对其方式
fj(type = space-between) {
  display: flex;
  justify-content: type;
}
//  省略号
slh() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
dslh(n = 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp:n;
  overflow: hidden;
}
