body {
    background: #f3f3f3;
}
body, ul, ol, li, p, h1, h2, h3, h4, h5, h6, form, fieldset, table, td, img, div, dl, dt, dd, input { margin: 0; padding: 0; border: 0; }
body { font-size: 20px; font-family: '\65B0\5B8B\4F53', '\5B8B\4F53', Verdana; }
ul, ol { list-style-type: none; }
select, input, img { vertical-align: middle; outline: none; display: block; }
a { text-decoration: none; color: #000; }
//a { blr: expression(this.onFocus=this.blur())  }
i{ font-style: normal;}
a { outline: none; color:inherit; }
html { overflow-x: hidden; }
.clearfix:after { content: ""; display: block; clear: both; }
.clearfix { zoom: 1; }
.fl { float: left; }
.fr { float: right; }
.fz30{font-size: 30px;}
button{ background: none; border: none; padding:0;}


$bodyWidth=2560px;
$bodyHeight=1315px;
$leftWidth=600px;


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #666;
    width: $bodyWidth;
    margin: 0 auto;
    background: #fff;
    height: $bodyHeight;
}
.LeftMain {
    width: $leftWidth;
    float: left;
    height: $bodyHeight;
    position: relative;
    box-shadow(1px 0px 37px rgba(0, 0, 0, 0.25));
    .title{
        font(36px,120px);
        height: 120px;
        width: 100%;
        text-align: center;
        bgc();
    }
    .main{
        background: #464646;
        height: $bodyHeight - 399px;
    }
    .leftBtn {
        height: 280px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #212121;
        a{
            width: 545px;
            height: 97px;
            text-align: center;
            display: block;
            margin: 35px auto 0;
            border-radius();
            bgc();
            font(30px, 97px);
        }
        .search_btn {
            background: #373634;
            margin-top: 20px;
        }
    }
}
.right-main{ float: left; width: $bodyWidth - $leftWidth;}
.header{
  height:120px;
    bgc($yellow);
    font(35px,120px);
  p{
    float: left;
    padding-left:20px;
    a{
      margin-right:20px;
    }
  }
  button{
      float: right;
      @extend .fz30;
      line-height:120px;
      color: #ffffff;
      background:#e28a26;
      padding: 0 60px 0 100px;
  }
}
